# https://github.com/istio/istio/tree/master/manifests/charts

base:
  defaultRevision: default

istiod:
  profile: ambient
  meshConfig:
    meshMTLS:
      minProtocolVersion: TLSV1_3
      cipherSuites:
      - ECDHE-ECDSA-AES256-GCM-SHA384
      - ECDHE-RSA-AES256-GCM-SHA384
      - ECDHE-ECDSA-AES128-GCM-SHA256
      - ECDHE-RSA-AES128-GCM-SHA256
    tlsDefaults:
      cipherSuites:
      - ECDHE-ECDSA-AES256-GCM-SHA384
      - ECDHE-RSA-AES256-GCM-SHA384
      - ECDHE-ECDSA-AES128-GCM-SHA256
      - ECDHE-RSA-AES128-GCM-SHA256
  pilot:
    env:
      CITADEL_SELF_SIGNED_CA_CERT_TTL: "17544h"
      CITADEL_SELF_SIGNED_CA_RSA_KEY_SIZE: 4096

cni:
  profile: ambient
