{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}
apiVersion: config.nri/v1alpha1
kind: BalloonsPolicy
metadata:
  name: node.{{ nodeName }}
  namespace: {{ balloons.namespace | default('kube-system') }}
spec:
  agent:
    nodeResourceTopology: true
  allocatorTopologyBalancing: true
  preserve:
    matchExpressions:
    - key: name
      operator: NotIn
      values:
      - vllm
      - edp-vllm
      - torchserve-reranking
  balloonTypes:
  - name: vllm-balloon
    minCPUs: {{ vllm_cpus if amx_supported and maxBalloonsVLLM != 0 else -1 }}
    maxCPUs: {{ vllm_cpus if amx_supported and maxBalloonsVLLM != 0 else -1 }}
    maxBalloons: {{ maxBalloonsVLLM }}
    allocatorTopologyBalancing: true
    preferNewBalloons: true
    loads:
    - llm-inference
    matchExpressions:
    - key: name
      operator: In
      values:
      - vllm
      - edp-vllm
  - name: torchserve-reranking-balloon
    minCPUs: {{ reranker_cpus if amx_supported and maxBalloonsReranker != 0 else -1 }}
    maxCPUs: {{ reranker_cpus if amx_supported and maxBalloonsReranker != 0 else -1 }}
    maxBalloons: {{ maxBalloonsReranker }}
    allocatorTopologyBalancing: true
    preferNewBalloons: true
    loads:
    - llm-inference
    matchExpressions:
    - key: name
      operator: In
      values:
      - torchserve-reranking
  instrumentation:
    httpEndpoint: :8891
    metrics:
      enabled:
        - policy
        - buildinfo
    prometheusExport: false
    reportPeriod: 60s
    samplingRatePerMillion: 0
  log:
    source: true
    debug:
      - policy
  pinCPU: true
  pinMemory: true
  reservedPoolNamespaces:
    - kube-system
  reservedResources:
    cpu: "2"
  loadClasses:
  - name: llm-inference
    level: core
    overloadsLevelInBalloon: true
