# Deployment
deployment/**/bin/
deployment/*.out
**/charts/*.tgz
deployment/*.key
deployment/*.crt
deployment/logs

# Telemetry
/deployment/telemetry/helm/example/pcm/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc

# Test output files
.coverage
.pytest_cache/
.benchmarks/

# Ignore the .vscode directory
.vscode/

# Ignore JetBrains IDE files
.idea/

# Super-Linter output directory
super-linter-output/

# Tox filex
.tox

# credentials
/deployment/default_credentials.txt
