{
{% if httpProxy is defined or httpsProxy is defined or noProxy is defined %}
  "proxies": {
    "http-proxy": "{{ httpProxy | default('') }}",
    "https-proxy": "{{ httpsProxy | default('') }}",
    "no-proxy": "{{ noProxy | default('') }}{% if insecure_registry is defined and insecure_registry and noProxy is defined and noProxy %},{{ insecure_registry.split(':')[0] }}{% endif %}"
  }{% if insecure_registry is defined and insecure_registry %},{% endif %}
{% endif %}

{% if insecure_registry is defined and insecure_registry %}
  "insecure-registries": ["{{ insecure_registry }}"]
{% endif %}
}
