{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

istiod:
  global:
    imagePullPolicy: Always

  sidecarInjectorWebhook:
    defaultTemplates: ["sidecar", "custom-init-container"]
    templates:
      custom-init-container: |
        spec:
          initContainers:
          - name: istio-init
            image: istio/proxyv2:1.24.2
            imagePullPolicy: Always
            command:
              - /bin/bash
              - -c
              - |
                set -e
                # List of registry domains to exclude from Istio proxying
                domains=("{{ (httpProxy.split('://')[1].split(':')[0] if (httpProxy is defined and httpProxy != ''))}}" "docker.io" "index.docker.io" "production.cloudflare.docker.com" "quay.io" "cdn01.quay.io" "ghcr.io" "pkg-containers.githubusercontent.com")

                # Build CIDR list from all domains
                cidr_list=""
                for domain in "${domains[@]}"; do
                  for ip in $(getent ahosts "$domain" | awk '{print $1}' | sort -u); do
                    cidr=$(if [[ "$ip" == *:* ]]; then echo "$ip/128"; else echo "$ip/32"; fi)
                    [ -n "$cidr_list" ] && cidr_list+=","
                    cidr_list+="$cidr"
                  done
                done

                # Configure Istio iptables
                /usr/local/bin/pilot-agent istio-iptables \
                  -p "15001" \
                  -z "15006" \
                  -u "1337" \
                  -m REDIRECT \
                  -i '*' \
                  -x "$cidr_list" \
                  -b '*' \
                  -d 15090,15021,15020 \
                  --log_output_level=default:info
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                - NET_ADMIN
                - NET_RAW
                drop:
                - ALL
              privileged: false
              readOnlyRootFilesystem: false
              runAsGroup: 0
              runAsNonRoot: false
              runAsUser: 0
