{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: {{ item }}
spec:
  mtls:
    mode: STRICT
{% if item == "ingress-nginx" %}
  selector:
    matchLabels:
      app.kubernetes.io/name: ingress-nginx
  portLevelMtls:
    443:
      mode: PERMISSIVE
    8443:
      mode: PERMISSIVE
{% elif item == "monitoring" and hpaEnabled %}
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus-adapter
  portLevelMtls:
    6443:
      mode: PERMISSIVE
{% endif %}

