# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
- name: Install application
  hosts: localhost
  environment:
    K8S_AUTH_KUBECONFIG: "{{ kubeconfig }}"
  vars:
    deployment_dir: "{{ playbook_dir }}/.."
    components_dir: "{{ deployment_dir }}/components"
    pipelines_dir: "{{ deployment_dir }}/pipelines/"
    log_dir: "{{ deployment_dir }}/ansible-logs"
    tmp_dir: "{{ log_dir }}/tmp"
    secure_logs: true
  tasks:

    # Pre-tasks section (initialization and configuration)
    - name: Pre-configure environment role
      ansible.builtin.include_role:
        name: configure
      tags:
        - configure

    - name: Build and push images
      ansible.builtin.include_role:
        name: images
      tags:
        - build-images

    - name: Pre-install role
      ansible.builtin.include_role:
        name: pre_install
      tags:
        - install
        - uninstall

    - name: Gather NUMA topology info
      ansible.builtin.include_role:
        name: utils
        tasks_from: get_cpu_topology.yaml
      tags:
        - install

    - name: Install NRI balloons policy
      include_role:
        name: nri_balloons
      when: balloons.enabled
      tags:
        - install
        - uninstall

    - name: Run vector_databases role
      include_role:
        name: vector_databases
      when: vector_databases.enabled
      tags:
        - install
        - uninstall

    # Main roles section (core application components)

    - name: Istio role
      ansible.builtin.include_role:
        name: istio
      when: istio.enabled
      tags:
        - install
        - uninstall

    - name: Fingerprint role
      ansible.builtin.include_role:
        name: fingerprint
      when: fingerprint.enabled
      tags:
        - install
        - uninstall

    - name: Pipeline role
      ansible.builtin.include_role:
        name: pipeline
      with_items: "{{ pipelines }}"
      tags:
        - install
        - uninstall

    - name: Ingress role
      ansible.builtin.include_role:
        name: ingress
      when: ingress.enabled
      tags:
        - install
        - uninstall

    - name: Keycloak role
      ansible.builtin.include_role:
        name: keycloak
      when: keycloak.enabled
      tags:
        - install
        - uninstall

    - name: Apisix role
      ansible.builtin.include_role:
        name: apisix
      when: apisix.enabled
      tags:
        - install
        - uninstall

    - name: UI role
      ansible.builtin.include_role:
        name: ui
      when: ui.enabled
      tags:
        - install
        - uninstall

    - name: EDP role
      ansible.builtin.include_role:
        name: edp
      when: edp.enabled
      tags:
        - install
        - uninstall

    - name: Telemetry role
      ansible.builtin.include_role:
        name: telemetry
      when: telemetry.enabled
      tags:
        - install
        - uninstall

    - name: Velero role
      ansible.builtin.include_role:
        name: velero
      when: velero.enabled
      tags:
        - install
        - uninstall

    - name: Configure Istio
      ansible.builtin.include_role:
        name: istio
        tasks_from: configure.yaml
      when: istio.enabled
      tags:
        - install
        - uninstall

    - name: Configure APISIX
      ansible.builtin.include_role:
        name: apisix
        tasks_from: configure.yaml
      when: apisix.enabled
      tags:
        - install
        - uninstall

    # Post-tasks section (finalization and cleanup)

    - name: Remove log directory
      ansible.builtin.file:
        path: "{{ log_dir }}"
        state: absent
      tags:
        - uninstall

    - name: Delete tmp directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
        mode: '755'
      loop:
        - "{{ tmp_dir }}"
      tags:
        - install

    - name: Verify if all pods are in desired state
      ansible.builtin.include_role:
        name: check_pods
      tags:
        - install
        - uninstall
