apiVersion: v1
kind: Namespace
metadata:
  name: {{ nfs_namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: nfs-server
  namespace: {{ nfs_namespace }}
spec:
  selector:
    app: nfs-server
  ports:
    - name: nfs
      port: 2049
    - name: mountd
      port: 20048
    - name: rpcbind
      port: 111
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-server
  namespace: {{ nfs_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nfs-server
  template:
    metadata:
      labels:
        app: nfs-server
    spec:
      nodeSelector:
        nfs-node: "true"
      containers:
        - name: nfs-server
          image: {{ nfs_server_image }}
          securityContext:
            privileged: true
          volumeMounts:
            - name: nfs-data
              mountPath: {{ nfs_export_path }}
      volumes:
        - name: nfs-data
          hostPath:
            path: {{ nfs_host_path }}
            type: DirectoryOrCreate

