apiVersion: batch/v1
kind: Job
metadata:
  name: nfs-init
  namespace: {{ nfs_namespace }}
spec:
  template:
    spec:
      nodeSelector:
        nfs-node: "true"
      restartPolicy: OnFailure
      containers:
        - name: init-nfs-dir
          image: alpine:3.18
          securityContext:
            privileged: true
          command: ["/bin/sh", "-c"]
          args:
            - mkdir -p {{ nfs_host_path }}/data &&
              chown nobody:nogroup {{ nfs_host_path }}/data &&
              chmod 0777 {{ nfs_host_path }}/data
          volumeMounts:
            - name: nfs-data
              mountPath: {{ nfs_host_path }}
      volumes:
        - name: nfs-data
          hostPath:
            path: {{ nfs_host_path }}
            type: DirectoryOrCreate
