{{- if index .Values "app-monitors" "enabled" }}
# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: router-service
  labels:
    release: {{.Release.Name}}
spec:
  namespaceSelector:
    matchNames:
    - chatqa
  selector:
    matchLabels:
      app: router-service
  podMetricsEndpoints:
  - targetPort: 8080
{{- end }}
