# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Gaudi operator role
  ansible.builtin.include_role:
    name: gaudi_operator
  when: gaudi_operator
  tags:
    - install
    - post-install
    - delete

- name: Local registry role
  ansible.builtin.include_role:
    name: k8s_local_registry
  when: local_registry
  tags:
    - install
    - post-install
    - delete

- name: NFS Server CSI role
  ansible.builtin.include_role:
    name: nfs_server_csi_setup
  when: install_csi == "nfs"
  tags:
    - install
    - post-install

- name: Velero role
  ansible.builtin.include_role:
    name: velero
  vars:
    deployment_dir: "{{ playbook_dir }}/.."
    log_dir: "{{ deployment_dir }}/ansible-logs"
    tmp_dir: "{{ deployment_dir }}/velero-tmp"
  when: velero.enabled
  tags:
    - install
    - post-install
    - delete
    - velero-delete

- name: Uninstall NFS Server
  ansible.builtin.include_role:
    name: nfs_server_csi_setup
  when: install_csi == "nfs"
  tags:
    - delete
