{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

{
 "proxies": {
   "default": {
     "httpProxy": "{{ httpProxy }}",
     "httpsProxy": "{{ httpsProxy }}",
     "noProxy": "{{ noProxy}}"
   }
 }
}
