{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

kube-prometheus-stack:
    grafana:
{% if telemetry.additional_values.ingress is not defined %}
        ingress:
            enabled: true
            ingressClassName: "nginx"
            pathType: Prefix
            hosts:
                - {{ telemetry.domainName }}
            path: /
            tls:
                - hosts:
                    - {{ telemetry.domainName }}
                  secretName: {{ telemetry.grafana.tls.secret_name }}
{% endif %}
        admin:
            existingSecret: "{{ telemetry.grafana.auth.admin.password_secret_name }}"
            userKey: user
            passwordKey: password
        env:
            https_proxy: "{{ httpsProxy }}"
            http_proxy: "{{ httpProxy }}"
            no_proxy: "{{ noProxy }}"
{% if telemetry.additional_values is defined %}
{{ telemetry.additional_values | to_nice_yaml }}
{% endif %}

{% if vector_databases.vector_store == "redis" %}
prometheus-redis-exporter:
  enabled: true
  redisAddress: redis://vdb-redis-headless.vdb.svc.cluster.local:6379
  serviceMonitor:
    enabled: true
    targets:
      - url: redis://vdb-redis-headless.vdb.svc.cluster.local:6379
        name: redis-vector-db
{% endif %}

{% if vector_databases.vector_store == "redis-cluster" %}
prometheus-redis-exporter:
  enabled: true
  redisAddress: redis://vdb-redis-cluster-headless.vdb.svc.cluster.local:6379
  serviceMonitor:
    enabled: true
    targets:
      - url: redis://vdb-redis-cluster-headless.vdb.svc.cluster.local:6379
        name: redis-vector-db
{% endif %}
