apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: {{ trident_backend_name }}
  namespace: {{ trident_namespace }}
spec:
  version: 1
  backendName: {{ trident_backend_name }}-backend
  storageDriverName: ontap-nas
  managementLIF: {{ ontap_management_lif }}
  dataLIF: {{ ontap_data_lif }}
  svm: {{ ontap_svm }}
  aggregate: {{ ontap_aggregate }}
  credentials:
    name: {{ trident_backend_name }}-secret 
