apiVersion: v1
kind: Secret
metadata:
  name: {{ trident_backend_name }}-secret
  namespace: {{ trident_namespace }}
type: Opaque
stringData:
  username: {{ ontap_username }}
  password: {{ ontap_password }}