{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

{% if keycloak.additional_values.ingress is not defined %}
ingress:
  enabled: true
  ingressClassName: "nginx"
  pathType: Prefix
  hostname: {{ keycloak.domainName }}
  hostnameStrict: true
  path: /
  tls: true
  extraTls:
    - hosts:
        - {{ keycloak.domainName }}
      secretName: {{ keycloak.tls.secret_name }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
tls:
  enabled: true
  existingSecret: {{ keycloak.tls.secret_name }}
  usePem: true
{% endif %}
auth:
  adminUser: {{ keycloak.auth.admin.username }}
  existingSecret: {{ keycloak.auth.admin.password_secret_name }}
  passwordSecretKey: admin-password
{% if keycloak.additional_values is defined %}
{{ keycloak.additional_values | to_nice_yaml }}
{% endif %}

{% if httpProxy is defined and httpProxy != "" and
      httpsProxy is defined and httpsProxy != "" and
      noProxy is defined and noProxy != "" %}
extraEnvVars:
  - name: KC_HOSTNAME_BACKCHANNEL_DYNAMIC
    value: "true"
  - name: http_proxy
    value: "{{ httpProxy }}"
  - name: https_proxy
    value: "{{ httpsProxy }}"
  - name: no_proxy
    value: "{{ noProxy }}"
{% endif %}
